# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Data
data/backup/
*.parquet

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
./data

/.data/*

**./parquet/**
**./parquet/.parquet/**

.DS_Store
data/bronze
